<h2 mat-dialog-title>{{title}}</h2>


<mat-dialog-content [formGroup]="form" class="add-emp-dialog__container">

  <mat-form-field>
    <input matInput
           placeholder="Name"
           formControlName="nameControl">
    <mat-error *ngIf="form.controls['nameControl'].invalid">Enter name</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="Surname"
           formControlName="surnameControl">
    <mat-error *ngIf="form.controls['surnameControl'].invalid">Enter surname</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="Patronymic"
           formControlName="patronymicControl">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose department</mat-label>
    <mat-select formControlName="departmentControl">
      <mat-option></mat-option>
      <mat-option *ngFor="let department of departments" [value]="department">
        {{department}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose position</mat-label>
    <mat-select formControlName="positionControl">
      <mat-option></mat-option>
      <mat-option *ngFor="let position of positions" [value]="position">
        {{position}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="employmentDatepicker"
           formControlName="employmentDateControl" placeholder="Employment date">
    <mat-datepicker-toggle matSuffix [for]="employmentDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #employmentDatepicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="firedDatepicker"
           formControlName="firedDateControl" placeholder="Fired date">
    <mat-datepicker-toggle matSuffix [for]="firedDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #firedDatepicker></mat-datepicker>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions class="add-emp-dialog__action-buttons-container">
  <button class="add-emp-dialog__button mat-raised-button" (click)="cancel()">Отмена</button>
  <button class="add-emp-dialog__button mat-raised-button mat-primary" [disabled]="form.invalid"
          (click)="save()">Сохранить
  </button>
</mat-dialog-actions>
